.container
{
    text-align: center;
}
table
{
    margin: auto;
}
input
{
    margin-top: 23px;
    font-size: 34px;
    border: 4px solid black;
    border-radius: 21px;




}
button
{
    border-radius: 22px;
    font-size: 37px;
    background: chartreuse;
    width: 100px;
    height: 57px;



}
.calculator
{
    display: inline-block;
    border: 3px solid red;
    background-color: red;
    border-radius:20px;
}